<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  网页内放有一张图片, src 地址为被攻击网站的地址
  <img src="http://csrf-be-attacked.com:4001/be-attacked" alt="">
</body>
</html>