<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
  <title>Document</title>
</head>
<body>
  <p>没有设置 <code>rel="noopener"</code>, 5秒 origin site 将会跳转到 https://www.baidu.com</p>
  <p>设置 <code>rel="noopener"</code>后, origin site 不会跳转到 https://www.baidu.com</p>
  <script>
    console.log(window.opener)
    setTimeout(() => {
      window.opener.location = 'https://www.baidu.com'
    }, 5000)
  </script>
</body>
</html>